/booklist/node_modules
/booklist/public
/context_hook01/node_modules
/context_hook01/public
/context01/node_modules
/context01/public
/hook_fr/node_modules
/hook_fr/public
/hook01/node_modules
/hook01/public